@import '../../variables'

.multi-switch
  display: inline-flex
  background: #fff
  border: 1px solid $gray-light

  &__option
    flex: 1
    padding: .5rem 1rem

    &--selected
      background: $primary
